h1, h2, h3 {
	text-align: center;
}

@font-face {
	font-family: Epic;
	src: url("https://fonts.gstatic.com/s/lakkireddy/v3/rbI79lEFsIu8-QPtske7f4bN6UDyHWBl620a-IRfuBk.woff");
}

.font {
	font-family: Epic;
}

li {
	font-style: italic;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: red;
}

table {
	border-collapse: collapse;
}

thead {
	background-color: grey;
}

tbody {
	background-color: yellow;
	font-style: italic;
}